.paragraph {
	margin-left: auto;
	margin-right: auto;
	max-width: 65vw;
	min-width: 600px;
	border: solid #0071bc;
	text-align: center;
}

	.paragraph > h1 {
		margin-top: 1em;
	}

.grid-with-border {
	border: solid;
	border-width: thin;
	margin-left: -1px;
	margin-top: -1px;
	margin-right: -1px;
}

	.grid-with-border > h1, h2 {
		margin-left: 15px;
		margin-top: 30px;
	}

	.grid-with-border > button {
		margin-left: 10px;
	}

.left-aligned-paragraph {
	margin-left: auto;
	margin-right: auto;
	max-width: 50vw;
	min-width: 800px;
	border: solid #0071bc;
}

	.left-aligned-paragraph > h1 {
		text-align: center;
	}

.image-alignment {
	text-align: center;
}

.horizontal-div-left {
	float: left;
}

.horizontal-div-right {
	float: right;
}

.border-basic {
	border: solid #0071bc;
}

.centered-textarea {
	margin-left: auto;
	margin-right: auto;
}

.no-border {

}

	.no-border td {
		border: hidden;
		height: 100%;
		width: 100%;
		margin: 0;
	}

.no-borderish {
	border: hidden;
	height: 100%;
	width: 100%;
	margin: 0;
}

.td-resize-content {
	padding: 0;
}

.table-cell-resize {
	margin-top: 0;
	width: 100%;
}

	.table-cell-resize th {
		text-align: center;
	}

.center-input {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.one-half-right {
	float: right;
	display: block;
	margin-right: 250px;
}

.one-half-left {
	float: left;
	display: block;
	margin-left: 250px;
}

.column-input-box {
	margin: auto;
	width: auto;
	border: hidden;
}

	.column-input-box input {
		margin: auto;
		background-color: #ffe378;
		border: hidden;
		min-width: 150px;
	}

.thincolumn-input-box {
	margin: auto;
	width: auto;
	background-color: #ffe378;
	border: hidden;
}

.tinycolumn-input-box {
	background-color: #ffe378;
	border: hidden;
	min-width: 100%;
	max-width: 100%;
	margin: 0px;
}

.radio-input-size {

}

	.radio-input-size label {
		display: inline-block;
		min-width: 100%;
	}

.paragraph-response-text {
	
}

	.paragraph-response-text input {
		width: 200px;
		height: 17px;
		display: inline-block;
		border-left: hidden;
		border-right: hidden;
		border-top: hidden;
		padding: 0;
		vertical-align: bottom;
		margin-bottom: 0;
	}

	.paragraph-response-text label {
		min-width: 100%;
	}

.teamlead-table {

}

.teamlead-table td {
	max-width: 300px;
	text-align: center;
}

	.teamlead-table input {
		max-width: 300px;
		min-height: 75px;
		text-align: center;
		background-color: #ffe378;
		border: hidden;
		margin: 0;
	}

.draftcharter-table {

}

.draftcharter-table td{
	text-align: center;
	max-height: 43px;
	min-height: 43px;
	min-width: 400px;
}

	.draftcharter-table input {
		text-align: center;
		max-height: 43px;
		min-height: 43px;
		min-width: 400px;
	}

.draftcharter-button {
	text-align: center;
	padding: 0px;
	margin-bottom: 5px;
	width: 13em;
}

.draftcharter-button label {
	min-width: 5em;
	max-width: 5em;
	margin: 0;
}

.draftcharter-input-box
{

}

.draftcharter-input-box input {
	background-color: #ffe378;
	width: auto;
	height: auto;
	margin: 0;
	border: hidden;
}

.draftcharter-team-members {
	padding: 0px;
	margin-bottom: 5px;
	max-width: 700px; 
	min-width: 700px;
}

	.draftcharter-team-members input {
		background-color: #ffe378;
		height: auto;
		margin: 0;
		border: hidden;
		min-width: 700px;
	}

.approval-table {

}

	.approval-table input {
		background-color: #ffe378;
		width: auto;
		height: auto;
		margin: 0;
		border: hidden;
	}

.text-area-align {

}

	.text-area-align textarea {
		margin-top: 10px;
		width: 300%;
		height: 12em;
		background-color: #ffe378;
		resize: none;
	}

.performance-gap-text-area {
	min-width: 48.7vw;
	background-color: #ffe378;
	resize: none;
	margin: 10px;
}

.set-improvement-text-area {
	resize: none;
	min-width: 48.7vw;
	margin-left: 10px;
	background-color: #ffe378;
}

.root-cause-list {
	margin-bottom: 2px;
}

	.root-cause-list li {
		margin: 1px;
	}

.root-cause-table {
	width: 48.7vw;
	margin-left: 10px;
}

	.root-cause-table input {
		min-width: 36.2vw;
		height: auto;
		margin: 0;
		background-color: #ffe378;
		border: hidden;
	}

.countermeasure-lists-div {
	border: solid 1px;
	width: 30%;
	display: inline-block;
	margin: 5px;
}

	.countermeasure-lists ul {

	}

.see-countermeasures-through-table {
	margin-left: auto;
	margin-right: auto;
}

	.see-countermeasures-through-table input {
		width: 100%;
		height: 100%;
		margin: 0;
		background-color: #ffe378;
		border: hidden;
	}

	.see-countermeasures-through-table th {
		background-color: rgba(0, 113, 188, 0.8);
		color: white;
		text-align: center;
	}

.standardize-process-table {
	margin-left: auto;
	margin-right: auto;
}

	.standardize-process-table input {
		width: 100%;
		height: 100%;
		margin: 0;
		background-color: #ffe378;
		border: hidden;
	}

	.standardize-process-table th {
		background-color: rgba(0, 113, 188, 0.8);
		color: white;
		text-align: center;
	}