.paragraph {
	margin-left: auto;
	margin-right: auto;
	max-width: 50vw;
	min-width: 600px;
	border: solid #0071bc;
	text-align: center;
}

	.paragraph > h1 {
		margin-top: 1em;
	}

.grid-with-border {
	border: solid;
	border-width: thin;
	margin-left: -1px;
	margin-top: -1px;
	margin-right: -1px;
}

	.grid-with-border > h1, h2 {
		margin-left: 15px;
		margin-top: 30px;
	}

	.grid-with-border > button {
		margin-left: 10px;
	}

.left-aligned-paragraph {
	margin-left: auto;
	margin-right: auto;
	max-width: 50vw;
	min-width: 800px;
	border: solid #0071bc;
}

	.left-aligned-paragraph > h1 {
		text-align: center;
	}

.image-alignment {
	text-align: center;
}

.horizontal-div-left {
	float: left;
}

.horizontal-div-right {
	float: right;
}

.border-basic {
	border: solid #0071bc;
}

.centered-textarea {
	margin-left: auto;
	margin-right: auto;
}

.no-border {

}

.no-border td {
	border: hidden;
	height: 100%;
	width: 100%;
	margin: 0;
}

.no-borderish {
	border: hidden;
	height: 100%;
	width: 100%;
	margin: 0;
}

.td-resize-content {
	padding: 0;
}

.table-cell-resize {
	margin-top: 0;
	width: 100%;
}

.table-cell-resize th {
	text-align: center;
}

.center-input {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.one-half-right {
	float: right;
	display: block;
	margin-right: 250px;
}

.one-half-left {
	float: left;
	display: block;
	margin-left: 250px;
}

.column-input-box {
	margin: auto;
	width: auto;
	border: hidden;
}

.column-input-box input {
	margin: auto;
	background-color: #ffe378;
	border: hidden;
	min-width: 150px;
}

.thincolumn-input-box {
	margin: auto;
	width: auto;
	background-color: #ffe378;
	border: hidden;
}

.tinycolumn-input-box {
	background-color: #ffe378;
	border: hidden;
	min-width: 100%;
	max-width: 100%;
	margin: 0px;
}

.radio-input-size {

}

.radio-input-size label {
	display: inline-block;
	min-width: 100%;
}

.paragraph-response-text {
}

.paragraph-response-text input {
	width: 200px;
}

.teamlead-table {

}

.teamlead-table td {
	max-width: 300px;
	text-align: center;
}

	.teamlead-table input {
		max-width: 300px;
		min-height: 75px;
		text-align: center;
		background-color: #ffe378;
		border: hidden;
		margin: 0;
	}

.draftcharter-table {

}

.draftcharter-table td{
	text-align: center;
	max-height: 43px;
	min-height: 43px;
	min-width: 400px;
}

	.draftcharter-table input {
		text-align: center;
		max-height: 43px;
		min-height: 43px;
		min-width: 400px;
	}

.draftcharter-button {
	text-align: center;
	padding: 0px;
	margin-bottom: 5px;
	width: 13em;
}

.draftcharter-button label {
	min-width: 5em;
	max-width: 5em;
	margin: 0;
}

.draftcharter-input-box
{

}

.draftcharter-input-box input {
	background-color: #ffe378;
	width: auto;
	height: auto;
	margin: 0;
	border: hidden;
}

.draftcharter-team-members {
	padding: 0px;
	margin-bottom: 5px;
	max-width: 700px; 
	min-width: 700px;
}

	.draftcharter-team-members input {
		background-color: #ffe378;
		height: auto;
		margin: 0;
		border: hidden;
		min-width: 700px;
	}

.approval-table {

}

	.approval-table input {
		background-color: #ffe378;
		width: auto;
		height: auto;
		margin: 0;
		border: hidden;
	}



